

.navbar-default {
    background-color: #33ccff;
 }



.navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-nav > li > a{
    font-family: proxima-nova;
    font-style: normal;
    font-weight: 100;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: black;
} 


/* Carousel formatting
-------------------------------------------------- */
.carousel-inner > .item > img {
    margin: 0 auto;
}

.carousel .item {
    border-radius: 10px;
    background-color: rgba(0,0,0,0);
    overflow: hidden;
}
.carousel-control {
    border-radius: 20px;
}

.carousel .item {
    width: 100%; /*slider width*/
    max-height: 400px; /*slider height*/
}
.carousel .item img {
    width: 100%; /*img width*/
}

@media (max-width: 767px) {
    .block {
        margin-left: -20px;
        margin-right: -20px;
    }
}

/* Body
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 200px;
  background: url('../images/noisy.png');
}

/* Sticky footer styles
-------------------------------------------------- */
/*.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px;
  font-size: 18px;
  color: #efefef;
 
  font-family: proxima-nova;
  background-color: #6666ff;
}*/

#footer a {
  color: #9af7fe; 
}
#footer a:hover, a:focus {
  color: black;
} 


#footer {
  position: absolute;
  font-size: 18px;
  color: #9af7fe;
  width: 100%;
  bottom: 0; 
  font-family: proxima-nova;
  background-color: #6666ff;
  
}
@media only screen and (min-width:1px) and (max-width: 407px)  {
    body {
        margin-bottom: 425px;
    }

    #footer {
        height: 450x; 
    }
}
@media only screen and (min-width:408px) and (max-width: 768px)  {
    body {
        margin-bottom: 375px;
    }

    #footer {
        height: 350px; 
    }
}
@media only screen and (min-width:769px)   {
    body {
        margin-bottom: 225px;
    }

    #footer {
        height: 200px; 
    }
}

