/* styles2 */

body {
	background: #f2f3ee url('../images/bg-tile.gif') top left repeat;
	
	font-family: 'Open Sans', 'Helvetica Nue', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialised;
	text-rendering: optimizelegibility;
}

.container {
    /* centers all content in browser */
    width:960px;
    margin: 0 auto;
    

}


header img {
    /* height of header image */
    height: 250px;
}

nav {
    background-color: darkblue;
    padding-top: 15px;
    padding-bottom: 15px;
}
nav ul {
    /* gets rid of bullet points */
    list-style: none;
    padding: 0;
    /* align text in list within center of container */
    text-align: center;
    margin: 0;
    overflow: hidden;
    background-color: darkblue;
    text-align: center;
}

nav ul li {
    /* displays list of links horizontally accross page */
    display: inline-block;
    margin: 0 20px;
    
}

nav a {
    font-size: 13px;
    text-transform: uppercase;
    color: mintcream;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: yellow;
}



.links-list a:hover{
    color: black;
}

/* create space between each list item in the hyperlinks list */
.links-list li {
    margin: 20px 0;
   
}

#story img {
    float: left;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 10px;
}

footer {
    background-color: darkblue;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    color: mintcream;
    font-size: 12px;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
	}
* html .group             { zoom: 1; } /* IE6 */
*:first-child+html .group { zoom: 1; } /* IE7 */
