 html, body {
    background-color: #000033;
}

h1{
    font-family: 'Merriweather', serif;
}

h2{
    color: white;
    font-family: 'Fjalla One', sans-serif;
}

รท
#calculator {
    background-color: #85adad;
    width: 80%;
    padding-top: 20px;
    padding-bottom: 30px;
    border-bottom-left-radius: 1.5em;
    border-bottom-right-radius: 1.5em;
    margin-left: auto;
    margin-right: auto; 
    padding-left: 20px;
    padding-right: 20px;
}   

#steps {
    text-align: right; 
    font-size: 2em;
}

/* .bigButton {
    width: 93px;
}

a {
    margin: 5px;
    padding-left: 5px;
    padding-right: 5px;
    width: auto;
    height: 50px; 
}   */

button {
    margin: 10px;
    /* width: 50px; */
}